* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

:root {
	/* colors */
	--color-primary-light: #33a0a0;
	--color-primary: #139696;
	--color-primary-dark: #004f4f;

	--color-secondary: #eba625;

	--color-white: #f6ffff;
	--color-black: #202020;
	--color-black-faded: #202020a8;

	--color-grey-light: #9b9b9b;
	--color-grey-dark: #4b4d4d;

	/* spacing */
	--pd-default: 2rem;

	/* fonts */
	--ffam-main: 'Fredericka the Great', cursive;
	--ffam-accent: 'Amatic SC', cursive;
	--fs-default: 10px;
	--fs-main: 3rem;
	--fs-sm: 2rem;
	--fs-h1: 6rem;
	--fs-h2: 4rem;
}

/* ------------------------ */
/* ------   Layout   ------ */
/* ------------------------ */

html {
	font-size: var(--fs-default);
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	font-family: var(--ffam-main);
	font-size: var(--fs-main);
	color: var(--color-black);
}

section {
	padding: var(--pd-default);
}

.container {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: 25rem 45rem 65rem 40rem 20rem;
	justify-content: center;
}

/* ------ Components ------ */

img {
	width: 10rem;
}

a {
	text-decoration: none;
	color: var(--color-white);
}

li:hover {
	transform: skewY(5deg) scale(115%);
}

a:hover {
	color: var(--color-secondary);
	border-bottom: 2px dotted var(--color-secondary);
}

/* ------------------------ */
/* ------ Header ------ */
/* ------------------------ */

.header {
	grid-column: 1 / -1;
	grid-row: 1 / 2;

	background-image: linear-gradient(
			var(--color-black-faded),
			var(--color-black-faded)
		),
		url(/img/animals.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: var(--color-white);

	display: grid;
	grid-template-columns: 15vw 70vw 15vw;
	justify-content: center;
}

.header__text {
	justify-self: center;
	align-self: center;
}

.logo {
	justify-self: end;
	align-self: center;
}

.logo img {
	border-radius: 50%;
}

/* ------------------------ */
/* ------ Navigation ------ */
/* ------------------------ */

.nav {
	grid-column: 1 / 2;
	grid-row: 2 / -2;

	/* display: flex;
	justify-content: center; */

	background-color: var(--color-primary-light);
	color: var(--color-white);
	font-size: var(--fs-main);
}

.nav__list {
	position: fixed;
	top: 30rem;
	left: 2rem;
	display: grid;
	grid-gap: 6rem;
	justify-items: end;
	list-style: none;
	cursor: pointer;
}

.nav__list--link {
	text-decoration: none;
	transition: all 0.3s;
}

/* ------------------------ */
/* ------ Collection ------ */
/* ------------------------ */

.section__collection {
	grid-column: 2 / -1;
	grid-row: 2 / 3;

	display: grid;
	grid-template-columns: repeat(18, 8rem);
	grid-template-rows: repeat(8, 4rem);
	grid-gap: 1rem;
}

.section__collection--heading {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
}

.section__collection--text {
	grid-column: 2 / -1;
	grid-row: 2 / 3;
}

.section__collection img {
	width: 100%;
	height: 100%;
}

.section__collection img:hover {
	transform: scale(105%);
	box-shadow: 3px 3px 8px var(--color-black);
}

.section__gallery--img-1 {
	grid-column: 2 / 3;
	grid-row: 3 / 5;
}
.section__gallery--img-2 {
	grid-column: 3 / 7;
	grid-row: 3 / 7;
}
.section__gallery--img-3 {
	grid-column: 7 / 10;
	grid-row: 3 / -1;
}
.section__gallery--img-4 {
	grid-column: 10 / 12;
	grid-row: 3 / 6;
}
.section__gallery--img-5 {
	grid-column: 2 / 3;
	grid-row: 5 / -1;
}
.section__gallery--img-6 {
	grid-column: 3 / 6;
	grid-row: 7 / -1;
}
.section__gallery--img-7 {
	grid-column: 10 / 15;
	grid-row: 6 / -1;
}
.section__gallery--img-8 {
	grid-column: 15 / -2;
	grid-row: 3 / -1;
}
.section__gallery--img-9 {
	grid-column: 12 / 15;
	grid-row: 3 / 6;
}
.section__gallery--img-10 {
	grid-column: 6 / 7;
	grid-row: 7 / -1;
}

/* ------------------------ */
/* ------    Shop    ------ */
/* ------------------------ */

.section__shop {
	grid-column: 2 / -1;
	grid-row: 3 / 4;

	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-rows: 5rem 1fr;
	justify-content: center;
}

.section__shop--heading {
	grid-row: 1 / 2;
}

.section__shop--items {
	grid-row: 2 / -1;

	display: flex;
	justify-content: space-evenly;
}

.card {
	height: 50rem;
	width: 30rem;
	border-radius: 10px;
	padding: 1rem;
	margin: 0 5rem 4rem 5rem;
	box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.15);
	font-family: var(--ffam-accent);
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: all 0.2s;
}
.card:hover {
	transform: scale(1.1);
	box-shadow: 9px 12px 6px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}
.card__item--img {
	width: 100%;
	height: auto;
	border-radius: 6px;
}
.card__item--info {
	padding: 1rem;
	text-align: center;
}
.card__item--price {
	padding: 1rem;
	font-size: var(--fs-h2);
}
.card__1 {
	background-color: var(--color-secondary);
}
.card__2 {
	background-color: var(--color-primary);
}
.card__3 {
	background-color: var(--color-secondary);
}

/* ------------------------ */
/* ------  Events   ------ */
/* ------------------------ */

.section__events {
	grid-column: 2 / -1;
	grid-row: 4 / 5;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.section__events--img {
	width: 30rem;
}

/* ------------------------ */
/* ------   Footer   ------ */
/* ------------------------ */

.footer {
	grid-column: 1 / -1;
	grid-row: 5 / 6;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--color-grey-dark);
	color: var(--color-primary-light);
}

.footer__link {
	transition: all 0.3s;
}
