* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

:root {
	/* colors */
	--color-primary-light: #33a0a0;
	--color-primary: #139696;
	--color-primary-dark: #004f4f;

	--color-secondary: #eba625;

	--color-white: #f6ffff;
	--color-black: #202020;
	--color-black-faded: #202020a8;
	--color-shadow: #00000034;

	--color-grey-light: #9b9b9b;
	--color-grey-dark: #4b4d4d;

	/* spacing */
	--pd-default: 2rem;
	--pd-thick: 6rem;
	--card-gap: 10rem;

	/* fonts */
	--ffam-main: 'Fredericka the Great', cursive;
	--ffam-accent: 'Amatic SC', cursive;
	--fs-default: 10px;
	--fs-nav: 3rem;
	--fs-main: 3rem;
	--fs-sm: 2rem;
	--fs-h1: 5rem;
	--fs-h2: 4rem;

	/* breakpoints */
	--bp-xxl: 93.75em;
	--bp-xl: 75em;
	--bp-lg: 68.75em;
	--bp-md: 56.25em;
	--bp-sm: 37.5em;
	--bp-xs: 31.25em;
	--bp-xxs: 25em;
}

/* ------------------------ */
/* ------   Layout   ------ */
/* ------------------------ */

html {
	font-size: var(--fs-default);
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	font-family: var(--ffam-main);
	font-size: var(--fs-main);
	color: var(--color-black);
}

section {
	padding: var(--pd-default);
}

.container {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: 25rem repeat(3, 1fr) 20rem;
	justify-content: center;
}

/* ------ Components ------ */

img {
	width: 10rem;
}

a {
	text-decoration: none;
	color: var(--color-white);
}

li:hover {
	transform: skewY(-5deg) scale(115%);
}

i {
	font-size: var(--fs-main);
	color: var(--color-white);
}

a:hover {
	color: var(--color-secondary);
	border-bottom: 2px dotted var(--color-secondary);
}

i:hover {
	color: var(--color-secondary);
}

/* ------------------------ */
/* ------ Header ------ */
/* ------------------------ */

.header {
	grid-column: 1 / -1;
	grid-row: 1 / 2;

	background-image: linear-gradient(
			var(--color-black-faded),
			var(--color-black-faded)
		),
		url(/img/animals.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: var(--color-white);

	display: grid;
	grid-template-columns: 15vw 70vw 15vw;
	justify-items: center;
	align-content: center;
}

.header__text {
	font-size: var(--fs-h1);
}

.logo img {
	border-radius: 50%;
}

/* ------------------------ */
/* ------ Navigation ------ */
/* ------------------------ */

.nav {
	grid-column: 1 / 2;
	grid-row: 2 / -2;

	display: flex;
	justify-content: center;

	background-color: var(--color-primary-light);
	color: var(--color-white);
	font-size: var(--fs-nav);
}

.nav__list {
	position: fixed;
	top: 30rem;
	display: grid;
	grid-gap: 12rem;
	justify-items: center;
	list-style: none;
	cursor: pointer;
}

.nav__list--link {
	text-decoration: none;
	/* transform: rotate(45deg); */
	transition: all 0.3s;
}

/* ------------------------ */
/* ------ Collection ------ */
/* ------------------------ */

.section__collection {
	grid-column: 2 / -1;
	grid-row: 2 / 3;

	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(8, 0.25fr);
	grid-gap: 1rem;
}

.section__collection--heading {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
}

.section__collection--text {
	grid-column: 2 / -1;
	grid-row: 2 / 3;
}

.section__collection img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section__collection img:hover {
	transform: scale(105%);
	box-shadow: 0px 0px 6px 6px var(--color-shadow);
	object-fit: fill;
}

.section__gallery--img-1 {
	grid-column: 1 / 4;
	grid-row: 3 / 5;
}
.section__gallery--img-2 {
	grid-column: 4 / 11;
	grid-row: 3 / 5;
}
.section__gallery--img-3 {
	grid-column: 8 / 11;
	grid-row: 5 / -1;
}
.section__gallery--img-4 {
	grid-column: 11 / 13;
	grid-row: 3 / 6;
}
.section__gallery--img-5 {
	grid-column: 1 / 4;
	grid-row: 5 / -1;
}
.section__gallery--img-6 {
	grid-column: 4 / 8;
	grid-row: 5 / 7;
}
.section__gallery--img-7 {
	grid-column: 11 / 16;
	grid-row: 6 / -1;
}
.section__gallery--img-8 {
	grid-column: 16 / -1;
	grid-row: 3 / -1;
}
.section__gallery--img-9 {
	grid-column: 13 / 16;
	grid-row: 3 / 6;
}
.section__gallery--img-10 {
	grid-column: 4 / 8;
	grid-row: 7 / -1;
}

/* ------------------------ */
/* ------    Shop    ------ */
/* ------------------------ */

.section__shop {
	grid-column: 2 / -1;
	grid-row: 3 / 4;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5rem 1fr;
	justify-content: center;
}

.section__shop--heading {
	grid-row: 1 / 2;
	padding-left: var(--pd-default);
	padding-bottom: var(--pd-thick);
}

.section__shop--items {
	grid-row: 2 / 3;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: var(--card-gap);
	justify-content: center;
}

.card {
	height: 90%;
	width: 100%;
	border-radius: 10px;
	padding: 1rem;
	box-shadow: 0 0 6px 6px var(--color-shadow);
	font-family: var(--ffam-accent);
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: all 0.2s;
}
.card:hover {
	transform: scale(105%);
	box-shadow: 0 0 9px 12px var(--color-shadow);
	cursor: pointer;
}
.card__item--img {
	width: 90%;
	height: auto;
	border-radius: 6px;
}
.card__item--info {
	padding: 1rem;
	text-align: center;
}
.card__item--price {
	padding: 1rem;
	font-size: var(--fs-h2);
	background-color: var(--color-white);
	color: var(--color-primary-dark);
	border-radius: 40%;
}
.card__1 {
	background-color: var(--color-secondary);
	grid-column: 1 / 2;
}
.card__2 {
	background-color: var(--color-primary);
	grid-column: 2 / 3;
}
.card__3 {
	background-color: var(--color-secondary);
	grid-column: 3 / 4;
}

/* ------------------------ */
/* ------  Events   ------ */
/* ------------------------ */

.section__events {
	grid-column: 2 / -1;
	grid-row: 4 / 5;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.section__events--heading {
	align-self: flex-start;
	padding: var(--pd-default);
}

.section__events--img {
	width: 40rem;
	clip-path: polygon(
		0% 15%,
		15% 15%,
		15% 0%,
		85% 0%,
		85% 15%,
		100% 15%,
		100% 85%,
		85% 85%,
		85% 100%,
		15% 100%,
		15% 85%,
		0% 85%
	);
}

/* ------------------------ */
/* ------   Footer   ------ */
/* ------------------------ */

.footer {
	grid-column: 1 / -1;
	grid-row: 5 / 6;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--color-grey-dark);
	color: var(--color-primary-light);
}

.footer__link {
	transition: all 0.3s;
}
